/* Web font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* icon */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

address,
em,
i {
  font-style: normal;
}

input:focus {
  outline: none;
}
